
.container {
    display: grid;
    grid-template-columns: 15rem 15rem 15rem 15rem 15rem 15rem 15rem;
    grid-gap: 5rem;
    grid-auto-flow: row;
    box-sizing: border-box;
    text-align: center;

    

} 

.card {
    background-color: lightblue;
    border-radius: 10%;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black ridge;
    padding: 10px;  

}

.name-text {
    color:Black
}


 

.difficulty-text {
    color:red
}